@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1820 New Barnyard Rd<br />
    Richmond, VA 23112<br />
    <abbr title="Phone">Phone:</abbr>
    8033786996
</address>

<address>
    <strong>Creator</strong>   <a href="mailto:sullivangyoung@gmail.com">sullivangyoung@gmail.com</a><br />
</address>