@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my Weather Application</h1>
    <p class="lead">This project is designed for me to learn about using MVC 5 and to develop a weather website.</p>
    <p><a href="https://weather.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>More information about me</h2>
        <p>
            In order to learn more information about yours truly please click the Learn More button!
        </p>
        <p><a class="btn btn-default" href="Home/About">About &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Best way to contact yours truly</h2>
        <p>If you want to get in contact with me please select learn more to gather my contact information</p>
        <p><a class="btn btn-default" href="Home/Contact">Contact &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Weather Portion</h2>
        <p>to proceed to the weathe portion of our site please continue as follows:</p>
        <p><a class="btn btn-default" href="Weather/Index">Weather &raquo;</a></p>
    </div>
</div>